{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
        
  <title>Home</title>
  
  <meta name="title" content="Home">
  <meta name="keywords" content="">
  <meta name="description" content="">

    <meta property="og:image" content="{% static 'assets/images/logo.png'%}">
  <meta name="theme-color" content="#eeeeee">

  <!-- favicon -->
  <link rel="icon" href="{% static 'images/favicon.ico'%}">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/fontawesome5/css/all.min.css'%}"/>

  <!-- Custom Stylesheets -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">

  <!-- Owl Stylesheets -->
  <link rel="stylesheet" href="{% static 'assets/owlcarousel/assets/owl.carousel.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/owlcarousel/assets/owl.theme.default.min.css'%}">

</head>
<body>

  <!-- header -->
<header class="bg-header">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 col-12">
        <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/logo_preview_rev_1.png'%}" alt="Logo" class="logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-search" aria-hidden="true"></i>
              </a>
            </li>
            <li class="nav-item">
			<a class="nav-link" href="#">Festival</a>
		   </li> 
		   <li class="nav-item">
			<a class="nav-link" href="schedule">Schedule</a>
		   </li>
		   <li class="nav-item">
			<a class="nav-link" href="/">About</a>
		   </li> 
		   <li class="nav-item">
			<a class="nav-link" href="#modelId" data-toggle="modal">Contact Us</a>
		   </li> 
		   <li class="nav-item">
			<a class="nav-link" href="signup">Sign Up / Log In</a>
		   </li>    
          </ul>
        </div>  
      </nav>
      </div>
     
    </div>

    
  </div>
  
</header>
<!-- end header -->

<!-- main-wrapper -->
<div class="main-wrapper">
  <!-- section -->
  <section class="sign-in">
    <div class="container">
      <div class="row">

        <div class="col-lg-5 col-md-6 col-10 mx-auto">

          <form action="" role="form" method="GET">
            <div class="form-group text-center">
              <img src="{% static 'images/logo.png'%}" alt="logo">
            </div>
            <div class="form-group">
              <input type="text" name="userid" class="form-control form-control-lg" placeholder="Enter Your CD Id">
            </div>
            <div class="form-group">
              <input type="Email" name="email" class="form-control form-control-lg" placeholder="Enter Your Email Id">
            </div>
            <button type="submit" class="btn btn-lg btn-block btn-light">Send Password on Email</button>
            <div class="text-center m-2">
              <p><a href="signup" class="text-muted">Create New CD ID</a></p>
              <p><a href="login" class="text-muted">Remember My CD ID or Password</a></p>
            </div>
            <div class="divider"></div>
            <div class="text-center m-3">
             
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- end section -->
</div>
<!-- end main-wrapper -->


<!-- footer  -->
<footer class="footer">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-6 col-sm-12 col-12">
		 <ul class="nav justify-content-xl-between justify-content-lg-between justify-content-sm-center justify-content-around">
		   <li class="nav-item">
			  <a class="nav-link" href="index.html"><img src="{% static 'images/logo_preview_rev_1.png'%}" alt=""></a>
		   </li>
		   <li class="nav-item">
			  <a class="nav-link" href="/">About Us</a>
		   </li>
			<li class="nav-item">
			    <a class="nav-link" href="#modelId" data-toggle="modal">Contact Us</a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#">Festival</a>
			</li>
		 </ul>
	    </div>
	    <div class="col-lg-6 col-sm-12 col-12">
		    
		 <ul class="nav justify-content-center justify-content-lg-end justify-content-xl-end">
			 <li class="nav-item">
			   <div class="input-group mt-1">
				   <input type="text"
					class="form-control form-control-sm" name="" id="" aria-describedby="helpId" placeholder="">
						<button class="btn btn-sm btn-outline-light">Sign up</button>
				 </div>
			 </li>
			<li class="nav-item">
			    <a class="nav-link" href="#">
				 <i class="fab fa-facebook" aria-hidden="true"></i>
			    </a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#">
				 <i class="fab fa-twitter" aria-hidden="true"></i>
			    </a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#">
				 <i class="fab fa-instagram" aria-hidden="true"></i>
			    </a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#">
				 <i class="fab fa-youtube" aria-hidden="true"></i>
			    </a>
			</li>
			<li class="nav-item">
			    <a class="nav-link" href="#">
				 <i class="fab fa-pinterest" aria-hidden="true"></i>
			    </a>
			</li>
		 </ul>
	    </div>
	  </div>
	  
	</div>
   </footer>
   <!-- end footer -->
   
   
	<!-- javascript -->
	<script src="{% static 'assets/js/jquery.min.js'%}"></script>
	<script src="{% static 'assets/js/popper.min.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
   
	<!-- Owl javascript -->
	<script src="{% static 'assets/owlcarousel/owl.carousel.js'%}"></script>
   
	<!-- custom javascript -->
  <script src="{% static 'assets/js/main.js'%}"></script>
  
  
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center w-fill"><p>inquireis:</p>
            <b>Elizabeth</b></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            
        </div>
        <div class="modal-body px-5">
          <form action="">
            <div class="form-group">
              <input type="text" name="" id="" class="form-control form-control-lg" placeholder="First Name" aria-describedby="helpId">
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label font-15 ws-3">
                Type Of Inquiries
                <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"> Interview
                <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"> Work or Commission
                <input class="form-check-input" type="checkbox" name="" id="" value="checkedValue"> Other
              </label>
            </div>
            
            <div class="form-group">
            <label for=""></label>
              <textarea class="form-control" name="" id="" rows="5" placeholder="Details"></textarea>
            </div>
            <hr>
            <button type="button" class="btn btn-md bg-theme-color float-right">Send</button>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  
   </body>
   </html>
   